body{
    /*background-color: #627671;*/
    /*padding: 10px;*/
    overflow: hidden;
    width: 100%;
}

.container-fluid {
    /*background-color: #72928a;*/
    padding: 0;
}

.section {
    /*background-color: #627671;*/
    /*background-color: #585d61;*/
    background-color: #4f5357;
}

.spaced_up_vis1 {
    margin-top: -4em;
}


/***STYLES FOR TITLES***/
h1 {
   color: whitesmoke;
    font-family: Verdana;
    font-size:70px;
}
h2 {
    color: whitesmoke;
    font-family: Verdana;
    padding-top: 50px;
}
h3 {
    color: whitesmoke;
    font-family: Verdana;
    font-size: 20px;
}

h5 {
    margin-top: -2em;
    color: whitesmoke;
    font-family: Verdana;
    font-size: 45px;
}

/**STYLES FOR PARAGRAPHS*/
p{
    color: white;
    font-family: Verdana;
    padding: 5px;
}

/***STYLES FOR BUTTONS***/
/***W3Schools Button Styling**/
.button {
    background-color: darkorange; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    font-size: 16px;
    font-family: Verdana;
    align: "center";
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button:hover span {
    padding-right: 25px;
}
.button:hover span:after {
    opacity: 1;
    right: 0;
}
/***STYLES FOR IMAGE (Samples to be Later Turned into Visualizations***/
img{
    padding: 20px;
}

/**STYLES FOR EMBEDDED YOUTUBE VIDEO**/
iframe {
    display: block;
    margin: 0 auto;
}
#select1{
    padding-left: 20px;
    width: 500px;
    align: "center";
}

.row_no_margin {
    margin-left: 2em;
    margin-right: 1em;
}

.spaced {
    margin-top: -100px
}

.vis3select {
    margin-top: -100px
}

#vis3text {
    height: 3em;
}

#vis3 {
    margin-top: 2.4em;
}

.title {
    color: whitesmoke;
    font-family: Verdana;
    font-size: 1.4em;
}

#space_up {
    margin-top: -2em;
}

#select1 {
    width: 13em;
}

#toggle_text {
    font-size: 14px;
}

#vis3title {
    padding-bottom: 1em;
}

.lined {
    display: block;
}

.red {
    color: #c80e05;
}

#vis2can {
    width: 130px;
    margin-left: -1.4em;
    margin-top: 4em;
    visibility: hidden;
}

.fa {
    color: white;
}

.vis2drugs {
    margin-top: 30px;
    visibility: hidden;
}

.fa-car {
    /*margin-left: -130px;*/
    margin-top: 0.5em;
    text-align: right;
}

.top_row {
    margin-top: 10vh;
}

.top_row_gun {
    margin-top: 7vh;
}

.top_row_car {
    margin-top: 17vh;
}

.row_bellow {
    margin-top: 7%;
}

.big_row {
    margin-top: 27%;
}

#vis2gun {
    max-width: 220px;
    visibility: hidden;
}

#vis2car_icon {
    visibility: hidden;
}


.fade {
    visibility: hidden;
}

#gun_text {
    visibility: hidden;
}

#car_text {
    visibility: hidden;
}

#drug_text { 
    visibility: hidden;
}

.vis2car {
    margin-top: 30px;
    visibility: hidden;
}

.vis2guns {
    margin-top: 30px;
    visibility: hidden;
}

.icons {
    /*max-width: 390px;*/
}

.vis3_section {
    background-color: #4f5357;
}

.vis4_section {
    background-color: #4f5357;
}

#vis4 {
    margin-left: 2em;
}

.dynamic_text {
    margin-top: -6%;
    /*margin-left: 43%;*/
    text-align: middle;
    font-size: 2em;
    width: 100vw;
}

.input {
    max-width: 300px;
    margin-left: 1.5em;
}

#zip_button_case {
    padding-top: 25px;
}

#zip_button {
    background-color: #a81a24; 
}

#vis5 {
    width: 660px;
    height: 220px;
}

.vis5text {
    text-align: center;
    margin-left: -2em;
}

.vis5text1 {
    color: #93adbf;
    font-size: 45px;
}

.vis5text2 {
    font-size: 20px;
}

.vis5text3 {
    font-size: 25px;
}

.vis5text4 {
    font-size: 25px;
}

#narcam_img {
    width: 18em;
}

a {
    color: #a81a24;
}

#narcam_text {
    font-size: 1.3em;
    padding-top: 5%;
}

.spaced_right {
    padding-left: 30px;
}

.vis3_button {
    background-color: darkorange;
    width: 19vw;
    height: 50px;
    font-size: 1.3em;
    padding-top: 0.6em; 
}

.vis3_button:hover, 
.vis3_button:focus, 
.vis3_button:active, 
.vis3_button.active, 
.vis3_button:active:hover, 
.vis3_button.active:hover,  
.vis3_button:visited {
    background-color: #ea8000;
}



/* auto expand */

/*#auto_expand {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#auto_expand {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background-color: #eee;
  
  .row {
    flex: 1;
    text-align: center;
    transition: .3s;
    max-width: 20%;
    padding: 8em 0;
    background-color: #ccc;
    min-width: 10%;

    .row:hover{
      transition: .5s;
      max-width: 40% !important;
      background: #333;
      flex-grow: 2;
      cursor: pointer;
      color: #fff;
    }
  }
}*/





















@font-face {
    font-family: "Font Awesome";
    src: url(font-awsome-4.7.0/fonts/fontawesome-webfont.ttf) format("truetype");
}












